[CRAB]
jobtype                             = cmssw
scheduler                           = glite
use_server                          = 1

[CMSSW]
datasetpath                         = RMMEDATASET
pset                                = RMMEFN.py
events_per_job                      = 10000 
total_number_of_events              = -1
output_file                         = RMMEFN.root

pycfg_params                        = isMC=True globalTag=START52_V9 outputFile=RMMEFN.root


[USER]

# use_central_bossDB        = 0
# use_boss_rt               = 0
# copy_data                 = 1
# 
# storage_port              = 8444
# storage_path              = /srm/managerv2?SFN=/cms
# storage_element           = storm.mib.infn.it
# 
# user_remote_dir           = /users/amassiro/latino/Summer12testPATDATA29Apr/RMMENUM_RMMEFN

ui_working_dir                      = ./crab_0_S1_IDRMMENUM_RMMEFN
return_data                         = 0
copy_data                           = 1
storage_element                     = T2_IT_Pisa
local_stage_out                     = 0
publish_data                        = 1
publish_data_name                   = RMMEPRELABEL_IDRMMENUM_RMMEFN
dbs_url_for_publication             = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet


[CONDORG]


